.leagueComponent {
    border: 1px solid purple;
    width: 300px;
    height: 400px;
    margin:20px;
    padding:20px;
    borderRadius:20px;
    background-color: rgba(18, 112, 5, 0.945);
    float: left;
  }
  .leaguePoster{
    width: 280px;
    height: 200px;
  }